.panel {
  height: 100%;
  width: 250px;
  top: 0px;
  position: absolute;
  opacity: 0;
  background: #414141;
}

.panel-left {
  -webkit-transition: left .2s ease-out;
  transition: left .2s ease-out;
}

.panel-right {
  -webkit-transition: right .2s ease-out;
  transition: right .2s ease-out;
}

.panel.overlay {
  -webkit-box-shadow: 3px 0px 3px rgba(0,0,0,.15);
  box-shadow: 3px 0px 3px rgba(0,0,0,.15);
}

.panel.reveal,
.panel.push {
}
