body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  height: 32px;
  padding: 10px 0px 0px 10px;
  border-bottom: 1px solid #000;
}

a.icon {
  display: block;
  height: 32px;
  line-height: 26px;
  text-decoration: none;
  padding-left: 40px;
  font-size: 16px;
  font-family: Arial;
  font-weight: normal;
  color: #fff;
}

a.icon.home {
  background: url('images/home.png') no-repeat;
}

a.icon.search {
  background: url('images/search.png') no-repeat;
}

a.icon.photography {
  background: url('images/photography.png') no-repeat;
}

a.icon.world {
  background: url('images/world.png') no-repeat;
}

a.icon.settings {
  background: url('images/settings.png') no-repeat;
}

a.icon.comment {  
  background: url('images/comment.png') no-repeat;
}

.panel {
  background: #262626;
}


.content {
  height: 100%;
  background: #eee;
  width: 100%;
  position: absolute;
  top: 0px;
}
